body
{
margin: 30px 200px 60px 120px;
}



a
{
font-family: "PT Sans"
}

h1
{
font-family: "Courier New"
}


h2
{
font-family: "Courier New"
}

h3
{
font-family: "Courier New"
}

ul
{
font-family: "PT Sans"
}

p
{
font-family: "PT Sans"
}

figure
{
font-family: "PT Sans"
}


/* unvisited link */
a:link {
	color: #B509AC;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #B509AC;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #B509AC;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #B509AC;
}
